<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Leafing.Settings" type="Leafing.Core.Setting.NameValueSectionHandler, Leafing.Core"/>
	</configSections>
	<Leafing.Settings>
		<!--Mvc Config-->
		<add key="ControllerAssembly" value="Blog.Biz, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9656868d13f7ec51"/>
		<add key="ScaffoldingMasterPage" value="~/main.master"/>
		<!--Logger Config-->
    <add key="SqlLogRecorder" value="@CacheTextFile"/>
    <add key="DefaultLogRecorder" value="@CacheTextFile"/>
    <add key="SystemLogRecorder" value="@CacheTextFile"/>
		<!--Database Config-->
		<add key="NameMapper" value="@Inflection"/>
		<add key="CacheEnabled" value="false"/>
		<add key="DefaultContext" value="Development"/>
		<!--Development Database-->
		<add key="Development.AutoScheme" value="CreateTable"/>
		<add key="Development.DataBase" value="@SQLite : @~App_Data\blog.db"/>
		<add key="Development.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
		<!--Deployment Database-->
		<add key="Deployment.DataBase" value="@Firebird : User=yourdb;Password=yourpassword;Database={BaseDirectory}App_Data\blog.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=UNICODE_FSS;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0"/>
		<add key="Deployment.DbProviderFactory" value="@SmartDbFactory : FirebirdSql.Data.FirebirdClient, Version=2.5.2.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c"/>
	</Leafing.Settings>
  <appSettings>
    <add key="RegSolt" value="N37ysh28sjxuewsh"/>
    <add key="SiteBase" value="/blog"/>
    <add key="BlogName" value="MyBlog"/>
    <add key="EmailAddress" value="yourusername@sina.com"/>
    <add key="EmailSmtpServer" value="smtp.sina.com"/>
    <add key="EmailUsername" value="yourusername"/>
    <add key="EmailPassword" value="yourpassword"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<sessionState mode="Off"/>
		<httpRuntime enableVersionHeader="false" requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="GenericErrorPage.htm"/>
		<pages pageBaseType="Blog.Biz.Helpers.UserPageBase, Blog.Biz" validateRequest="false" enableViewState="false" enableViewStateMac="false" enableEventValidation="false" enableSessionState="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="Leafing.Web"/>
				<add namespace="Leafing.Web.Mvc"/>
				<add namespace="Blog.Biz.Models"/>
				<add namespace="Blog.Biz.Controllers"/>
				<add namespace="Blog.Biz.Helpers"/>
			</namespaces>
			<controls>
				<add tagPrefix="biz" namespace="Leafing.Web.Common" assembly="Leafing.Web"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="*.ico" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.jpeg" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.7z" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.zip" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.rar" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.htm" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.html" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.xml" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.swf" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.xap" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
			<add path="*.flv" verb="GET,HEAD" type="System.Web.StaticFileHandler" validate="true"/>
      <add path="*" verb="*" type="Leafing.Web.MvcDispatcher, Leafing.Web" validate="true"/>
    </httpHandlers>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!--
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="Leafing.Web.MvcDispatcher, Leafing.Web" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
